


body {
    font-family: 'Arial', sans-serif;
    color: #FFFFFF; 
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #FFFFFF; 
}


form {
    max-width: 800px;
    margin: 0 auto; 
    padding: 20px;
    background: rgba(0, 0, 0, 0.6); 
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.2); 
}


p1 {
    display: block;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.1); 
    color: #FFFFFF;
    padding: 15px;
    border-left: 5px solid #FFFFFF; 
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.1); 
}


p1 strong {
    color: #FFFFFF; 
    font-size: 1.1em;
}

a {
    color: #FFFFFF; 
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #FFFFFF; 
}


@media screen and (max-width: 768px) {
    body {
        padding: 10px;
    }
    p1 {
        font-size: 16px;
        padding: 10px;
    }
}

